.test {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerContainer {
    display: flex;
    background-color: #bdbdbd;
    list-style-type: none;
    justify-content: center;
    align-items: center;
   height: 50px;
   outline: black solid 1px;
}
 .footerContainer li {
    padding-left: 10px;
 }


 .linkedInImg {
 width: 30px;
height: 30px;
filter: grayscale(50%); 
 }

 

 .gitHubImg{
    width: 30px;
    height: 30px;
  
   filter: contrast(160%); 
    filter: saturate(3);
 }

 .innerBtn{
   display: flex;
   justify-content: center;   
   align-items: center;
 }

 .youTubeImg {
    width: 30px;
    height: 30px;
   
    filter: grayscale(50%); 
 }

 .FooterHeader:hover {
    width: 70px;
    height: 70px;
    
 }

 
 .FooterHeader {
   border: 5px solid blue;
   width: 40px;
   height: 40px;
   border: 3px solid #bdbdbd;
   outline: black solid .5px;
   margin: 5px;
}

.FooterImgContainer {
   display: flex;
   justify-content: center;
   background-color: #120bce;
   outline: black solid .5px;
   color: white;
   font-size: 7px;
 
}

.innerBtn {
   background-color: white;
}