.ProgramManagerContainer {
    border: 3px solid #bdbdbd;
    outline: black solid 1px;
    width: 90%;
    height: 300px;
}

.ProManHeader{
    display: flex;
    justify-content: center;
    background-color: #120bce;
    color: white;
    position: relative;
    outline: black solid 1px;
     
      /*Center the header*/
      justify-content: center;
      /*if horizontal centering is required add this*/
      align-items: center;
}

.exit{
position: absolute;
right: 0;
 margin-right: 12px;
 background-color:#bdbdbd;
 outline: black solid 1px;
color: black;
 padding-left: 3px;
 padding-right: 3px;
}

.MainProManContainer {
 
    display: flex;
    justify-content: center;
    background-color: #120bce;
    color: white;
  
}


.subHeader{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.subHeader li {
    padding-right: 10px;
}
.Border {
    border: 5px solid blue;
    width: 60%;
    height: 200px;
    border: 3px solid #bdbdbd;
    outline: black solid 1px;
}

.Iconimgs{
 display: inline;
   
}
.Iconimgs span {
    font-size: 300%;
    margin: 1%;
}

.Iconimgs div {
font-size: 15px;
}



